Materialize.toast("<span>Comment successful</span>", 3000);
$('#postAction<%= @post.id %>').html("<%= escape_javascript(render('shared/postAction', p: @post)) %>");
// a = $("#modaltrigger");
// $('.modal-content').html("<%= escape_javascript(render('shared/comments', comments: @comments)) %>");
// $('#postAction<%= @post.id %>').html("<%= escape_javascript(render('shared/postAction', p: @post)) %>");
// a.click();
// $('.modal-close').on('click', function(argument) {
//   $('.modal-content').html('');
// })