<% provide(:title, 'New User') %>

<%= form_for(@user) do |f| %>
<div class="card">
<div class="card-content">
  <div class="input-field">
    <%= f.text_field :name, class: 'validate', pattern: ".{3,20}", required: true, title: "3-20 characters" %>
    <%= f.label :name %>
  </div>
    <div class="input-field">
    <%= f.email_field :email, class: 'validate', required: true%>
    <%= f.label :email %>
  </div>
  <div class="input-field">
    <%= f.password_field :password, class: 'validate', pattern: ".{8,20}", required: true, title: "8-20 characters"%>
    <%= f.label :password %>
  </div>
  <div class="input-field">
    <%= f.password_field :password_confirmation, class: 'validate', pattern: ".{8,20}", required: true, title: "8-20 characters"%>
    <%= f.label :password_confirmation %>
  </div>
  <div class="input-field">
    <div class="card-action"><%= f.submit "Sign Up", class: 'btn blue' %></div>
  </div>
</div>
</div>
<% end %>