<div class="card">
  <div class="card-content">
    <div class="card-title red-text"><%= link_to p.user.name, user_path(p.user) %>:
      <bold><strong><%= link_to p.title, post_path(p) %></strong></bold>
      <small class="badge"><%= time_ago_in_words(p.created_at)%> ago.</small><hr/></div>
      <div class="flow-text">
        <%= raw sanitize p.content, tags: tags(), attributes: attr() %>
      </div>
  </div>
  <div class="card-action" id="postAction<%= p.id %>">
    <%= render 'shared/postAction', p: p %>
  </div>
</div>