<div class="card">
<div class="card-content">
<%= form_for(post, remote: ajax) do |f| %>
  <div class="input-field">
    <%= f.text_field :title, class: 'validate', pattern: '.{3,100}', required: true, title: "3-100 characters", length: 100 %>
    <%= f.label :title %>
  </div>
  <div class="input-field">
    <%= f.text_area :content, class:'materialize-textarea validate', pattern: '.{,10000}', required: true, title: "Max 10000 characters", length: 10000 %>
    <%= f.label :content %>
  </div>
  <div class="card-action"><%= f.submit "Post", class: 'btn'%></div>
<% end %>
</div>
</div>