$("#<%= @post.id %>post").fadeOut().after("<div id='<%= @post.id %>editor'><%= escape_javascript(render 'posts/new', post: @post, ajax: true) %></div>");
$('#<%= @post.id %>editor form .card-action').append("<a id='edit_cancel' class='white-text right btn'>cancel</a>");


$('#<%= @post.id %>editor').on('click', "#edit_cancel",function(){
  $('div#<%= @post.id %>editor').remove();
  $('#<%= @post.id %>post').fadeIn().scrollIntoView({block: "end", behavior: "smooth"});
});



