<loader id="loader"></loader>
<div class="navbar-fixed">
<nav class="blue">
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>

  <div class="container">
    <div class="nav-wrapper">
  		<a class="brand-logo"><%= yield(:title) || "{{ TITLE }}" %></a>
  	</div>
  </div>
  <ul id="slide-out" class="side-nav fixed" data-turbolinks-permanent>
  <li class="brand grey lighten-5">
    <%= "Hello, #{current_user || 'Guest'}" %>
  </li>
      <li><%= link_to "Home", root_path, "data-no-turbolink" => false %></li>
    <% if logged_in? %>
      <li><%= link_to 'Profile', user_path(current_user), "data-no-turbolink" => false%> </li>
      <li><%= link_to "Write Post", new_post_path %> </li>
      <li><%=link_to "Log out", session_path(current_user), method: 'delete', remote: true %></li>
      <% else %>
       <li><%= link_to("Sign up", signup_path) %></li>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
      <hr/>
      <li><a href="https://github.com/karanvalecha">GitHub</a></li>
      <li><a href="https://in.linkedin.com/in/karanvalecha">LinkedIn</a></li>
  </ul>
</nav></div>