<loader id="loader"></loader>
<div class="navbar-fixed">
<nav class="blue">
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>

  <div class="container">
    <div class="nav-wrapper">
  		<a class="brand-logo"><%= yield(:title) || "{{ TITLE }}" %></a>
  	</div>
  </div>
  <ul id="slide-out" class="side-nav fixed">
  <li class="brand grey lighten-5">
    <%= "Hello, #{current_user || 'Guest'}" %>
  </li>
    <% if logged_in? %>
	    <li><%= link_to 'Profile', user_path(current_user), class: 'active' %> </li>
      <li><%= link_to "Write Post", new_post_path %> </li>
      <% else %>
       <li><%= link_to("Sign up", signup_path) %></li>
	    <li><%= link_to "Log in", login_path %></li>
      <% end %>
      <hr/>
      <li><a>#todo About Me</a></li>
      <li><a>#todo My Github Contributions</a></li>
  </ul>
</nav></div>